"""Provide secure variables to main app."""

# Database connection
DB_HOST = "127.0.0.1"
DB_PORT = 3306
DB_DATABASE = "beThere"
DB_USER = "user"
DB_PASS = "password"

# String to actually use to connect:
DATABASE = "mysql+pymysql://" + DB_USER + ":" + DB_PASS + "@" + DB_HOST + \
    DB_PORT + "/" + DB_DATABASE
